translate-service/myEnv/* linguist-vendored
ai/* linguist-vendored
*.java linguist-detectable=true
*.dart linguist-detectable=true
*.html linguist-detectable=false
*.cpp linguist-detectable=false
*.cc linguist-detectable=false
*.h linguist-detectable=false
*.cmake linguist-detectable=false
*.txt linguist-detectable=false
*.py linguist-detectable=false
